In [1]:
from utils import Utils

import numpy as np
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('data.csv')
df.head()

                                                text  targe
0  بين أستوديوهات ورزازات وصحراء مرزوكة وآثار ولي...      0
1  قررت النجمة الأمريكية أوبرا وينفري ألا يقتصر ع...      0
2  أخبارنا المغربية الوزاني تصوير الشملالي ألهب ا...      0
3  اخبارنا المغربية قال ابراهيم الراشدي محامي سعد...      0
4  تزال صناعة الجلود في المغرب تتبع الطريقة التقل...      0

In [3]:
# drop target column
df = df.drop(columns=['targe'], axis=1)

# drop null values
df = df.dropna()

# drop duplicates
df = df.drop_duplicates()

# remove any letter but arabic
df['text'] = df['text'].apply(lambda x: Utils.remove_non_arabic(x))

# remove sentences that are less than 5 words
df['text'] = df['text'].apply(lambda x: x if len(x.split()) > 5 else None)
df = df.dropna()

# Extract the incorrect text feature
df['incorrect'] = df['text'].apply(lambda x: Utils.spell(x, thresh=0.7)) # 70% of the words (That are longer than 3 letters) in the dataset will be spelled incorrectly

df.head()

,text,incorrect
0,بين استوديوهات ورزازات وصحراء مرزوكة واثار ولي...,بسين استوديهات ورزازت وصحرتاء مرزوكة واثثار ول...
1,قررت النجمة الامريكية اوبرا وينفري الا يقتصر ع...,قرؤت االنجمة الامريكي اوبار وينفلاري االا يقتص...
2,اخبارنا المغربية الوزاني تصوير الشملالي الهب ا...,اخبارن المرغبية الووزاني تصوير الشملالي الب ال...
3,اخبارنا المغربية قال ابراهيم الراشدي محامي سعد...,اخبانا المرغبية قال ابراهيم الرادي محامي سهعد ...
4,تزال صناعة الجلود في المغرب تتبع الطريقة التقل...,تزال صناغعة الجلوذد في المغلارب تتبع الطريق ال...

In [4]:
# Save the cleaned data
df.to_csv('cleaned.csv', index=False)